<!DOCTYPE html>
<html>
<head>
    <title>Ошибка - {{ error }}</title>
    <meta name="robots" content="noindex"/>
    <style type="text/css">


    </style>
</head>
<body>
<div id="table">
    <div id="row">
        <div id="cell">
            <div class="tx">
                <h1>Ошибка {{ error }}</h1>
                <p>Вы можете попробывать следующее:</p>
                <p>- <a href="/">Перейти к главной странице сайта</a></p>
                <p>- Проверить правильность введенного адреса</p>
                <p>- Вернуться туда, откуда пришли (<i>нажать кнопку «Назад» в своем браузере</i>)</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>